.banner {
    width: 100%;
}

.banner-contents {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    width: 100%;
    background-color: black;
}

.banner-img {
    position: relative;
    width: 50%;
    justify-content: center;
}
